// Margin right
.mr-sm {
  margin-right: 1rem;
}
.mr-md {
  margin-right: 4rem;
}
.mr-lg {
  margin-right: 6rem;
}

// Margin top
.mt-md {
  margin-top: 4rem;
}
.mt-lg {
  margin-top: 6rem;
}

// Margin bottom
.mb-lg {
  margin-bottom: 6rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-sm {
  margin-bottom: 2rem;
}

// FLEX
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-content: center;
}
