// COLOR
$color-primary: #4b6cb7;
$color-secondary: #182848;
$color-dark: #1b262c;
$color-dark-light-2: #1d2930;
$color-dark-light: #3b5249;
$color-dark-light-3: #5d8374;
$color-white: #fff;
$color-black: #000;
$color-light: #17b890;
$color-light-2: #b5c9c6;

// Font
$font-family: "Poppins", sans-serif;
