// COLORS
$color-background: #868a8b;
$color-background--2: #e2e3e5;
$color-primary: #ffffff;
$color-shadow: #7a8c81;
$color-shadow--2: #a2afa7;
$color-text-primary: #323232;
$color-text-primary--2: #517b58;
$color-text-secondary: #646464;
$color-paragraph: #7f7f85;
$color-black: #000000;

$font-family: "Poppins", sans-serif;
