.contact {
  &__item {
    display: flex;
    @include respond(medium) {
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    @include respond(medium) {
      margin-bottom: 2rem;
    }

    & span {
      margin-right: 4rem;
      @include respond(medium) {
        margin-right: 0;
      }
    }

    & img {
      width: 35px;
      height: 35px;
      margin-right: 1rem;
    }

    & span {
      font-size: 1.6rem;
    }
  }
}
