.portfolio {
  &__filters {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include respond(small) {
      justify-content: center;
    }
  }
}

.filters {
  font-size: 1.2rem;
  padding: 1rem;
  font-weight: 600;

  & li {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
