.edu {
  &__item {
    padding: 1rem 0;
    & span {
      border: 1px solid $color-text-primary--2;
      border-radius: 3px;
      padding: 1px 6px;
      font-size: 1.2rem;
      color: $color-text-primary--2;
    }

    & h4 {
      font-weight: 500;
      margin-bottom: 5px;
      margin-top: 20px;
    }
    & h5 {
      color: $color-text-secondary;
    }
  }
}

.skill {
  &__item {
    & ul li {
      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }
  }

  &__line {
    & h5 {
      color: $color-text-primary--2;
    }
  }
}

.cert {
  &__name {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__from {
    margin-bottom: 1rem;
  }
}
