.btn {
  font-size: 1.4rem;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;

  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    color: $color-text-primary--2;
  }

  &--1 {
    border: 1px solid $color-background;
    padding: 1.5rem 3rem;
    border-radius: 2px;
    @include respond(small) {
      padding: 1.5rem 2rem;
    }
  }

  &--2 {
    &:hover {
      background-color: $color-background;
      color: $color-primary;
    }
  }
}

.btn--menu {
  padding: 0 1rem;
}
