.filter {
  position: absolute;
  right: 5px;
  top: 35px;
  @include respond(small) {
    left: 0;
    right: unset;
    top: 75px;
  }
  &__bar {
    display: flex;

    & li {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}
