.field {
  font-size: 1.6rem;
  transition: all 0.4s;
  border-bottom: 1px solid whitesmoke;
  &:active,
  &:focus {
    border-bottom: 2px solid $color-text-primary--2;
    transform: translateY(-2px);
  }

  &--text {
    width: 23vw;
    height: 5rem;
    margin-bottom: 3rem;
    @include respond(medium) {
      width: 100%;
    }
  }

  &--area {
    width: 46vw;
    height: 12rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    @include respond(medium) {
      width: 100%;
    }
  }
}
