.link {
  font-size: 1.6rem;
  padding: 1rem;
  display: flex;
  font-weight: 600;

  @include respond(medium) {
    font-size: 1.4rem;
  }

  li a {
    color: $color-light;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: $color-white;
    }
  }
}

.link--filter {
  width: fit-content;
}

.link--nav {
  & li:not(:last-child) {
    margin-right: 4rem;

    @include respond(medium) {
      // margin-right: 2.5rem;
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }
}

.link--footer,
.link--filter {
  font-size: 1.2rem;
  & li:not(:last-child) {
    margin-right: 2rem;
  }
}
