.modal {
  position: fixed;
  z-index: 30;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;

  &__body {
    width: 62vw;
    margin: 0 auto;
    padding: 4rem 3rem;
    background-color: $color-dark;
    @include respond(small) {
      width: 100%;
      margin: 0;
    }
  }

  &__description {
    padding-top: 1rem;
  }

  &__tags {
    padding: 2.5rem 0;

    & .span {
      display: flex;
      justify-content: space-between;
      // width: 18vw;
      font-size: 1.4rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      @include respond(medium) {
        font-size: 1.2rem;
        // width: 22vw;
      }
      @include respond(small) {
        font-size: 1.2rem;
        // width: 35vw;
      }
      @include respond(extra-small) {
        font-size: 1.2rem;
        // width: 50vw;
      }
      &__title {
        color: $color-white;
        text-transform: uppercase;
      }
      &__title + span,
      a {
        color: $color-light;
      }

      & span a {
        transition: color 0.4s;
      }
      & span a:hover {
        color: $color-white;
      }
    }
  }

  &__images {
    & img {
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
    }
  }

  &__btns {
    @include respond(extra-small) {
      display: flex;
      justify-content: center;
    }
    & a {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}
