.navbar {
  position: fixed;
  left: 2rem;
  top: 8rem;
  background-color: $color-primary;
  padding: 8px;
  border-radius: 3px;
  z-index: 25;
  @include respond(small) {
    top: 0;
    left: 0;
    width: 45rem;
    width: 100%;
    box-shadow: 0 2px 4px #8a8a8a;
    border-radius: 0;
  }

  &__items {
    @include respond(small) {
      display: flex;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    @include respond(small) {
      padding: 1rem 2.7rem;
    }

    & img {
      width: 25px;
      height: 25px;
      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }
      @include respond(small) {
        width: 20px;
        height: 20px;
      }
    }

    & span {
      text-transform: uppercase;
      font-size: 1.1rem;
      color: $color-text-primary--2;
      font-weight: 600;
    }
  }
}
