.progress {
  width: 100%;
  background-color: rgb(211, 202, 202);
  height: 4px;
  display: block;
  margin-top: 7px;
  & .percentage {
    height: 100%;
    background-color: $color-text-primary--2;
  }
}
