.portfolio {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 26vw);
    grid-auto-rows: 18vw;
    grid-gap: 2rem;
    margin-bottom: 4rem;
    justify-content: center;

    @include respond(medium) {
      grid-template-columns: repeat(2, 42vw);
      grid-auto-rows: 28vw;
    }

    @include respond(extra-small) {
      grid-template-columns: 70vw;
      grid-auto-rows: 45vw;
      justify-content: center;
    }
  }
}

.certificates {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
  @include respond(small) {
    grid-template-columns: 1fr;
  }
}

.skill {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    gap: 3rem;
    grid-auto-rows: min-content;
    justify-content: center;
    @include respond(medium) {
      row-gap: 2rem;
      column-gap: 3rem;
    }
    @include respond(small) {
      grid-template-columns: repeat(2, 25vw);
    }
  }
}
