.grid {
  display: grid;
  gap: 2rem;
  padding: 1rem 3rem;
  margin-left: 2rem;
  margin-bottom: 4rem;

  @include respond(medium) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  @include respond(small) {
    margin-left: 0;
  }

  // &--3 {
  //   grid-template-columns: repeat(3, 33%);
  //   grid-template-rows: auto;
  //   grid-auto-rows: auto;
  // }

  // &--2 {
  //   grid-template-columns: repeat(2, 21vw);
  //   grid-template-rows: auto;
  //   grid-auto-rows: auto;
  // }

  &--1 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }

  &__title {
    display: flex;
    padding: 2rem 0 3rem 0;
    align-items: center;
    justify-content: flex-start;

    .title {
      &__icon {
        width: 30px;
        height: 30px;
        margin-right: 1.3rem;
      }

      &__name {
        text-transform: uppercase;
        font-weight: 500;
        color: $color-text-primary--2;
      }
    }
  }
}

.edu {
  &__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    row-gap: 2rem;
  }
}

.skill {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 8rem;
    row-gap: 5rem;

    @include respond(small) {
      grid-template-columns: auto;
    }
  }
}

.cert {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    row-gap: 5rem;
    column-gap: 1rem;
    @include respond(small) {
      grid-template-columns: repeat(2, 50%);
    }
  }
}

.contact {
  &__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    row-gap: 4rem;

    @include respond(medium) {
      row-gap: 2rem;
    }
  }
}

.work {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1rem;
    row-gap: 4rem;

    @include respond(medium) {
      grid-template-columns: 100%;
      column-gap: 0;
    }
    @include respond(small) {
      margin-top: 4rem;
    }
  }
}
